<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.frostphyr.custom">
	<Appenders>
		<Custom name="Explorer" class="com.frostphyr.notiphy.NotiphyServer">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Custom>
		<RollingFile name="File" 
				fileName="${sys:catalina.base}/logs/Notiphy.txt" 
				filePattern="${sys:catalina.base}/logs/Notiphy-%d{MM-dd-yyyy}.txt"
				ignoreExceptions="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<TimeBasedTriggeringPolicy/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Explorer"/>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>